header .navbar {
  background-color: #37517e;
}

main .landing-page {
  background-color: #37517e;
  color: white;
}
.container .row p:nth-of-type(1) {
  font-size: 48px;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}
.container .row p:nth-of-type(2) {
  font-size: 22px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.705);
  line-height: 1.2;
}
.navbar a {
  color: rgba(255, 255, 255, 0.905);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.navbar ul li a:hover {
  color: rgb(71, 178, 228);
}
.nabvar a:hover {
  color: rgb(71, 178, 228);
  transition: 0.3s;
}
.container .navbar-brand {
  font-family: "Jost", sans-serif;
  color: rgba(255, 255, 255, 0.905);
  font-size: 30px;
  font-weight: 500;
}
.landing-page .container .row a:nth-of-type(1) {
  font-family: "Jost", sans-serif;
  background-color: rgb(71, 178, 228);
  font-weight: 500;
  border-color: transparent;
}
.landing-page .container .row a:nth-of-type(2) {
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  border: none;
  font-weight: 600;
}
.d-flex button {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(71, 178, 228);
  font-weight: 400;
  border-color: transparent;
}
.d-flex button:hover,
.landing-page .container .row a:nth-of-type(1):hover,
.landing-page .container .row a:nth-of-type(2):hover {
  opacity: 0.8;
  transition: 0.3s;
}
.d-flex button:hover {
  background-color: rgb(71, 178, 228);
  border-color: transparent;
}
.landing-page .container .row a:nth-of-type(2):hover {
  color: rgb(71, 178, 228);
}
.navbar .dropdown-menu li a {
  color: rgba(0, 0, 0, 0.653);
}
main .landing-page .row .img {
  animation: MoveUpDown 5s infinite;
}

@keyframes MoveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.container .row .col-6 img {
  width: 100px;
  filter: grayscale(100%);
  margin-bottom: 20px;
}
.container .row .col-6 img:hover {
  filter: none;
  transform: scale(1.2);
  transition: 0.4s;
}
main .section1 {
  background-color: #f5f6f8;
}
/*--------------------------------------------------------------
# Section2
--------------------------------------------------------------*/
.Team .container p,
.portfolio .container p,
.services .container p,
.section2 .container .row .col-12 p {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(68, 68, 68);
  line-height: 24px;
}
.section2 .container .row .col-12 p:nth-of-type(2),
.section2 .container .row .col-12 p:nth-of-type(3),
.section2 .container .row .col-12 p:nth-of-type(4) {
  line-height: normal;
}
.Team .container h2,
.portfolio .container h2,
.services .container h1,
.section2 .container h1 {
  color: rgb(55, 81, 126);
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
}
.Team .container h2::after,
.portfolio .container h2::after,
.services .container h1::after,
.section2 .container h1::after {
  content: "";
  bottom: 0;
  width: 160px;
  height: 0.5px;
  background-color: rgba(97, 97, 97, 0.692);
  position: absolute;
  transform: translate(-155px, 10px);
  z-index: 1;
}
.Team .container h2::before,
.portfolio .container h2::before,
.services .container h1::before,
.section2 .container h1::before {
  content: "";
  bottom: 0;
  width: 50px;
  height: 3px;
  background-color: rgb(71, 178, 228);
  position: absolute;
  transform: translate(60px, 380%);
  z-index: 2;
}
.services .container h1::before {
  transform: translate(55px, 380%);
}
.section2 .container .row .col-12 p i {
  color: rgb(71, 178, 228);
}
.section2 .container .row .col-12 .btn {
  color: rgb(71, 178, 228);
  border: solid 2px rgb(71, 178, 228);
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.section2 .container .row .col-12 a .bi {
  transition: transform 0.3s;
}
.section2 .container .row .col-12 a:hover {
  background-color: rgb(71, 178, 228);
  color: white;
}
.section2 .container .row .col-12 a:hover .bi {
  transform: translateX(5px);
}
/*--------------------------------------------------------------
# Section3 
--------------------------------------------------------------*/
main .section3 {
  background-color: #f5f6f8;
}
main .section3 .container .row .col-12 h3 {
  color: rgb(55, 81, 126);
  font-size: 34px;
  font-family: "Jost", sans-serif;
  font-weight: 700;
}
main .section3 .container .row .col-12 .description {
  color: color(srgb 0.266667 0.266667 0.266667 / 0.7);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
main .section3 .container .row .col-12 .accordion p {
  color: rgb(68, 68, 68);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
main .section3 .container .row .col-12 .accordion span {
  color: rgb(71, 178, 228);
  font-family: "Jost", sans-serif;
  font-size: 17px;
  font-weight: 600;
}
main .section3 .container .row .col-12 .accordion button {
  color: rgb(55, 81, 126);
  font-family: "Jost", sans-serif;
  font-size: 17px;
  font-weight: 500;
}
main .section3 .container .row .col-12 .accordion-item {
  border-color: transparent;
  border-radius: 0px;
  box-shadow: 0px 5px 25px 0px #eaebec;
}
/*--------------------------------------------------------------
# Skills Section
--------------------------------------------------------------*/
.skills .container .row .col h3 {
  color: rgb(55, 81, 126);
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.skills .container .row .col p {
  color: color(srgb 0.266667 0.266667 0.266667 / 0.7);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.skills .container .row .col .row .col {
  color: rgb(68, 68, 68);
  font-family: "Jost", sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.skills .container .row .col .progress {
  border-radius: 0px;
  height: 10px;
}
.skills .container .row .col .progress-bar {
  background-color: rgb(55, 81, 126);
}
.skills .container .row .col #bar-2 {
  width: 90%;
}
.skills .container .row .col #bar-4 {
  width: 55%;
}
/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services .container .row .col-12 .progress-bar {
  background-color: rgb(55, 81, 126);
  height: 10px;
}
.services {
  background-color: #f5f6f8;
}
.services .container .row .col-12 i {
  color: rgb(71, 178, 228);
  font-size: 36px;
}
.services .container .row .col-12 {
  box-shadow: 0px 5px 25px 0px #eaebec;
  background-color: white;
  transition: 0.6s;
}
.services .container .row .col-12 a {
  color: rgb(55, 81, 126);
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  display: block;
}
.services .container .row .col-12 p {
  color: rgb(68, 68, 68);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
}
.services .container .row .col-12:hover a {
  color: rgb(71, 178, 228);
  transition: 0.3s;
}
.services .container .row .col-12:hover {
  transform: translateY(-10px);
  transition: 0.6s;
}
/*--------------------------------------------------------------
# call to action section
--------------------------------------------------------------*/
.call-to-action {
  padding: 120px 0;
  position: relative;
  clip-path: inset(0);
}
.call-to-action img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.call-to-action::before {
  content: "";
  background: rgba(0, 0, 0, 0.603);
  position: absolute;
  inset: 0;
  z-index: 2;
}
.call-to-action .container .row {
  padding: 0 12px;
}
.call-to-action .container {
  position: relative;
  z-index: 3;
}
.call-to-action .container .row .col-xl-9 h3 {
  color: rgb(255, 255, 255);
  font-family: "Jost", sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}
.call-to-action .container .row .col-xl-9 p {
  color: white;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.call-to-action .container .row .col-xl-3 {
  padding: 0 12px;
}
.call-to-action .container .row .col-xl-3 a {
  text-decoration: none;
  padding: 12px 40px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: solid 2px white;
  border-radius: 50px;
  color: white;
  margin: 10px;
}
.call-to-action .container .row .col-xl-3 a:hover {
  background-color: rgb(71, 178, 228);
  border-color: transparent;
  transition: 0.8s;
}
/*--------------------------------------------------------------
# Portfolio Section
--------------------------------------------------------------*/
.portfolio .container h2::after {
  content: "";
  bottom: 0;
  width: 180px;
  height: 0.5px;
  background-color: rgba(97, 97, 97, 0.692);
  position: absolute;
  transform: translate(-180px, 10px);
  z-index: 1;
}
/*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/
.Team .container h2::after {
  width: 140px;
  transform: translate(-110px, 10px);
}
.Team .container h2::before {
  transform: translate(25px, 380%);
}
