header .navbar {
  background-color: #37517e;
}

main .landing-page {
  background-color: #37517e;
  color: white;
}
.container .row p:nth-of-type(1) {
  font-size: 48px;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}
.container .row p:nth-of-type(2) {
  font-size: 22px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.705);
  line-height: 1.2;
}
.navbar a {
  color: rgba(255, 255, 255, 0.905);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.navbar ul li a:hover {
  color: rgb(71, 178, 228);
}
.nabvar a:hover {
  color: rgb(71, 178, 228);
  transition: 0.3s;
}
.container .navbar-brand {
  font-family: "Jost", sans-serif;
  color: rgba(255, 255, 255, 0.905);
  font-size: 30px;
  font-weight: 500;
}
.landing-page .container .row a:nth-of-type(1) {
  font-family: "Jost", sans-serif;
  background-color: rgb(71, 178, 228);
  font-weight: 500;
  border-color: transparent;
}
.landing-page .container .row a:nth-of-type(2) {
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  border: none;
  font-weight: 600;
}
.d-flex button {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(71, 178, 228);
  font-weight: 400;
  border-color: transparent;
}
.d-flex button:hover,
.landing-page .container .row a:nth-of-type(1):hover,
.landing-page .container .row a:nth-of-type(2):hover {
  opacity: 0.8;
  transition: 0.3s;
}
.d-flex button:hover {
  background-color: rgb(71, 178, 228);
  border-color: transparent;
}
.landing-page .container .row a:nth-of-type(2):hover {
  color: rgb(71, 178, 228);
}
.navbar .dropdown-menu li a {
  color: rgba(0, 0, 0, 0.653);
}
main .landing-page .row .img {
  animation: MoveUpDown 5s infinite;
}

@keyframes MoveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.container .row .col-6 img {
  width: 100px;
  filter: grayscale(100%);
  margin-bottom: 20px;
}
.container .row .col-6 img:hover {
  filter: none;
  transform: scale(1.2);
  transition: 0.4s;
}
main .section1 {
  background-color: #f5f6f8;
}
.section2 .container .row .col-12 p {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(68, 68, 68);
  line-height: 24px;
}
.section2 .container .row .col-12 p:nth-of-type(2),
.section2 .container .row .col-12 p:nth-of-type(3),
.section2 .container .row .col-12 p:nth-of-type(4) {
  line-height: normal;
}
.section2 .container h1 {
  color: rgb(55, 81, 126);
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
}
.section2 .container h1::after {
  content: "";
  bottom: 0;
  width: 150px;
  height: 0.5px;
  background-color: rgba(97, 97, 97, 0.692);
  position: absolute;
  transform: translate(-155px, 10px);
  z-index: 1;
}
.section2 .container h1::before {
  content: "";
  bottom: 0;
  width: 50px;
  height: 3px;
  background-color: rgb(71, 178, 228);
  position: absolute;
  transform: translate(55px, 380%);
  z-index: 2;
}
.section2 .container .row .col-12 p i {
  color: rgb(71, 178, 228);
}
.section2 .container .row .col-12 .btn {
  color: rgb(71, 178, 228);
  border: solid 2px rgb(71, 178, 228);
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.section2 .container .row .col-12 a .bi {
  transition: transform 0.3s;
}
.section2 .container .row .col-12 a:hover {
  background-color: rgb(71, 178, 228);
  color: white;
}
.section2 .container .row .col-12 a:hover .bi {
  transform: translateX(5px);
}
main .section3 {
  background-color: #f5f6f8;
}
main .section3 .container .row .col-12 h3 {
  color: rgb(55, 81, 126);
  font-size: 34px;
  font-family: "Jost", sans-serif;
  font-weight: 700;
}
main .section3 .container .row .col-12 .description {
  color: color(srgb 0.266667 0.266667 0.266667 / 0.7);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
main .section3 .container .row .col-12 .accordion p {
  color: rgb(68, 68, 68);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
main .section3 .container .row .col-12 .accordion span {
  color: rgb(71, 178, 228);
  font-family: "Jost", sans-serif;
  font-size: 17px;
  font-weight: 600;
}
main .section3 .container .row .col-12 .accordion button {
  color: rgb(55, 81, 126);
  font-family: "Jost", sans-serif;
  font-size: 17px;
  font-weight: 500;
}
main .section3 .container .row .col-12 .accordion-item {
  border-color: transparent;
  border-radius: 0px;
  box-shadow: 0px 5px 25px 0px #eaebec;
}
